/* common */
.ke-inline-block {
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	*display: inline;
}

/* icons */
.ke-icon-source {
	background-position: 0px 0px;
	width: 16px;
	height: 16px;
}
.ke-icon-print {
	background-position: 0px -32px;
	width: 16px;
	height: 16px;
}
.ke-icon-undo {
	background-position: 0px -48px;
	width: 16px;
	height: 16px;
}
.ke-icon-redo {
	background-position: 0px -64px;
	width: 16px;
	height: 16px;
}
.ke-icon-cut {
	background-position: 0px -80px;
	width: 16px;
	height: 16px;
}
.ke-icon-copy {
	background-position: 0px -96px;
	width: 16px;
	height: 16px;
}
.ke-icon-paste {
	background-position: 0px -112px;
	width: 16px;
	height: 16px;
}
.ke-icon-selectall {
	background-position: 0px -128px;
	width: 16px;
	height: 16px;
}
.ke-icon-justifyleft {
	background-position: 0px -144px;
	width: 16px;
	height: 16px;
}
.ke-icon-justifycenter {
	background-position: 0px -160px;
	width: 16px;
	height: 16px;
}
.ke-icon-justifyright {
	background-position: 0px -176px;
	width: 16px;
	height: 16px;
}
.ke-icon-justifyfull {
	background-position: 0px -192px;
	width: 16px;
	height: 16px;
}
.ke-icon-insertorderedlist {
	background-position: 0px -208px;
	width: 16px;
	height: 16px;
}
.ke-icon-insertunorderedlist {
	background-position: 0px -224px;
	width: 16px;
	height: 16px;
}
.ke-icon-indent {
	background-position: 0px -240px;
	width: 16px;
	height: 16px;
}
.ke-icon-outdent {
	background-position: 0px -256px;
	width: 16px;
	height: 16px;
}
.ke-icon-subscript {
	background-position: 0px -272px;
	width: 16px;
	height: 16px;
}
.ke-icon-superscript {
	background-position: 0px -288px;
	width: 16px;
	height: 16px;
}
.ke-icon-formatblock {
	background-position: 0px -336px;
	width: 25px;
	height: 16px;
}
.ke-icon-fontname {
	background-position: 0px -352px;
	width: 21px;
	height: 16px;
}
.ke-icon-fontsize {
	background-position: 0px -368px;
	width: 23px;
	height: 16px;
}
.ke-icon-forecolor {
	background-position: 0px -384px;
	width: 20px;
	height: 16px;
}
.ke-icon-hilitecolor {
	background-position: 0px -400px;
	width: 20px;
	height: 16px;
}
.ke-icon-bold {
	background-position: 0px -416px;
	width: 16px;
	height: 16px;
}
.ke-icon-italic {
	background-position: 0px -432px;
	width: 16px;
	height: 16px;
}
.ke-icon-underline {
	background-position: 0px -448px;
	width: 16px;
	height: 16px;
}
.ke-icon-strikethrough {
	background-position: 0px -464px;
	width: 16px;
	height: 16px;
}
.ke-icon-removeformat {
	background-position: 0px -480px;
	width: 16px;
	height: 16px;
}
.ke-icon-image {
	background-position: 0px -496px;
	width: 16px;
	height: 16px;
}
.ke-icon-flash {
	background-position: 0px -512px;
	width: 16px;
	height: 16px;
}
.ke-icon-media {
	background-position: 0px -528px;
	width: 16px;
	height: 16px;
}
.ke-icon-hr {
	background-position: 0px -592px;
	width: 16px;
	height: 16px;
}
.ke-icon-emoticons {
	background-position: 0px -608px;
	width: 16px;
	height: 16px;
}
.ke-icon-link {
	background-position: 0px -624px;
	width: 16px;
	height: 16px;
}
.ke-icon-unlink {
	background-position: 0px -640px;
	width: 16px;
	height: 16px;
}
.ke-icon-fullscreen {
	background-position: 0px -656px;
	width: 16px;
	height: 16px;
}
.ke-icon-about {
	background-position: 0px -672px;
	width: 16px;
	height: 16px;
}
.ke-icon-plainpaste {
	background-position: 0px -704px;
	width: 16px;
	height: 16px;
}
.ke-icon-wordpaste {
	background-position: 0px -720px;
	width: 16px;
	height: 16px;
}
.ke-icon-advtable {
	background-position: 0px -784px;
	width: 16px;
	height: 16px;
}
.ke-icon-tablemenu {
	background-position: 0px -768px;
	width: 16px;
	height: 16px;
}
.ke-icon-tableinsert {
	background-position: 0px -784px;
	width: 16px;
	height: 16px;
}
.ke-icon-tabledelete {
	background-position: 0px -800px;
	width: 16px;
	height: 16px;
}
.ke-icon-tablecolinsertleft {
	background-position: 0px -816px;
	width: 16px;
	height: 16px;
}
.ke-icon-tablecolinsertright {
	background-position: 0px -832px;
	width: 16px;
	height: 16px;
}
.ke-icon-tablerowinsertabove {
	background-position: 0px -848px;
	width: 16px;
	height: 16px;
}
.ke-icon-tablerowinsertbelow {
	background-position: 0px -864px;
	width: 16px;
	height: 16px;
}
.ke-icon-tablecoldelete {
	background-position: 0px -880px;
	width: 16px;
	height: 16px;
}
.ke-icon-tablerowdelete {
	background-position: 0px -896px;
	width: 16px;
	height: 16px;
}
.ke-icon-tablecellprop {
	background-position: 0px -912px;
	width: 16px;
	height: 16px;
}
.ke-icon-tableprop {
	background-position: 0px -928px;
	width: 16px;
	height: 16px;
}
.ke-icon-checked {
	background-position: 0px -944px;
	width: 16px;
	height: 16px;
}
/* toolbar */
.ke-toolbar {
	display: block;
	border-top: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #F0F0EE;
	background-color: #F0F0EE;
	margin: 0;
	padding: 0;
}
.ke-toolbar-inner {
	margin: 2px 5px;
	padding: 0;
}
.ke-toolbar-icon {
	margin: 0;
	padding: 0;
	border: 0;
	background-repeat: no-repeat;
	font-size: 0;
	overflow: hidden;
}
.ke-toolbar-icon-url {
	background-image: url(default.gif);
}
.ke-toolbar-icon-outline {
	border: 1px solid #F0F0EE;
	background-color: transparent;
	margin: 1px;
	padding: 1px 2px;
	font-size: 0;
	overflow: hidden;
	cursor: pointer;
}
.ke-toolbar-icon-outline-on {
	border: 1px solid #5690D2;
}
.ke-toolbar-icon-outline-selected {
	border: 1px solid #5690D2;
	background-color: #E9EFF6;
}
.ke-toolbar-icon-outline-disabled {
	border: 1px solid #F0F0EE;
	cursor: default;
}
.ke-toolbar-separator {
	height: 16px;
	margin: 2px 3px;
	border-left: 1px solid #A0A0A0;
	border-right: 1px solid #FFFFFF;
	border-top:0;
	border-bottom:0;
	width: 0;
	font-size: 0;
	overflow: hidden;
}
/* menu */
.ke-menu {
	border: 1px solid #A0A0A0;
	background-color: #F1F1F1;
	color: #222222;
	padding: 2px;
	margin: 0;
	font-family: "sans serif",tahoma,verdana,helvetica;
	font-size: 12px;
	text-align: left;
}
.ke-menu-item {
	border: 1px solid #F1F1F1;
	background-color: #F1F1F1;
	color: #222222;
	padding: 0;
	margin: 0;
	height: 24px;
	overflow: hidden;
	cursor: pointer;
}
.ke-menu-item-on {
	border: 1px solid #5690D2;
	background-color: #E9EFF6;
}
.ke-menu-item-left {
	border: 0;
	margin: 0;
	padding: 0;
	width: 27px;
	text-align: center;
	overflow: hidden;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	*display: inline;
}
.ke-menu-item-center {
	margin: 0;
	padding: 0;
	width: 0;
	height: 24px;
	border-left: 1px solid #E3E3E3;
	border-right: 1px solid #FFFFFF;
	border-top: 0;
	border-bottom: 0;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	*display: inline;
}
.ke-menu-item-center-on {
	border-left: 1px solid #E9EFF6;
	border-right: 1px solid #E9EFF6;
}
.ke-menu-item-right {
	border: 0;
	margin: 0;
	padding: 0 0 0 5px;
	line-height: 24px;
	text-align: left;
	overflow: hidden;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	*display: inline;
}
.ke-menu-separator {
	margin: 2px 0;
	padding: 0;
	height: 0;
	overflow: hidden;
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #FFFFFF;
	border-left: 0;
	border-right: 0;
}
/* colorpicker */
.ke-colorpicker {
	border: 1px solid #A0A0A0;
	background-color: #F1F1F1;
	color: #222222;
	padding: 2px;
	margin: 0;
}
.ke-colorpicker-table {
	border:0;
	margin:0;
	padding:0;
	border-collapse: separate;
}
.ke-colorpicker-cell {
	font-size: 0;
	line-height: 0;
	border: 1px solid #F0F0EE;
	cursor: pointer;
	margin:3px;
	padding:0;
}
.ke-colorpicker-cell-top {
	font-family: "sans serif",tahoma,verdana,helvetica;
	font-size: 12px;
	line-height: 24px;
	border: 1px solid #F0F0EE;
	cursor: pointer;
	margin:0;
	padding:0;
	text-align: center;
}
.ke-colorpicker-cell-on {
	border: 1px solid #5690D2;
}
.ke-colorpicker-cell-selected {
	border: 1px solid #2446AB;
}
.ke-colorpicker-cell-color {
	width: 14px;
	height: 14px;
	margin: 3px;
	padding: 0;
	border: 0;
}
/* dialog */
.ke-dialog {
	border:0;
	margin:0;
	padding:0;
}
.ke-dialog-no-shadow {
	border: 1px solid #A0A0A0;
	background-color: #F0F0EE;
	color: #222222;
}
.ke-dialog-table {
	border:0;
	padding:0;
	margin:0;
	border-collapse:separate;
	empty-cells:show;
}
.ke-dialog-empty {
	display:block;
	width:5px;
	height:5px;
	line-height:0;
	margin: 0;
	padding: 0;
	border: 0;
}
.ke-mc {
	border: 1px solid #F0F0EE;
	margin:0;
	padding:0;
	background-color: #F0F0EE;
	color: #222222;
}
.ke-tl, .ke-tc, .ke-tr, .ke-ml, .ke-mr, .ke-bl, .ke-bc, .ke-br {
	background-color:#000;
	filter:alpha(opacity=20);
	opacity:0.2;
	font-size:0;
	line-height:0;
	overflow:hidden;
	border:0;
	margin:0;
	padding:0;
}
.ke-ml, .ke-mr {
	width:5px;
}
.ke-tc, .ke-bc {
	height:5px;
}
.ke-tl, .ke-tr, .ke-bl, .ke-br {
	width:5px;
	height:5px;
}
.ke-tl {
	-moz-border-radius:5px 0 0 0;
	border-radius:5px 0 0 0;
}
.ke-tr {
	-moz-border-radius:0 5px 0 0;
	border-radius:0 5px 0 0;
}
.ke-bl {
	-moz-border-radius:0 0 0 5px;
	border-radius:0 0 0 5px;
}
.ke-br {
	-moz-border-radius:0 0 5px 0;
	border-radius:0 0 5px 0;
}
.ke-dialog-header {
	border:0;
	margin:0;
	background-color: #F0F0EE;
	padding: 10px;
	text-align: left;
	font: 14px/1 "sans serif",tahoma,verdana,helvetica;
	font-weight: bold;
	color: #222222;
	cursor: move;
}
.ke-dialog-icon-close {
	display: block;
	background-position: 0px -688px;
	width: 16px;
	height: 16px;
	position: absolute;
	border: 0;
	margin: 0;
	padding: 0;
	right: 15px;
	top: 15px;
	cursor: pointer;
	background-image: url(default.gif);
	overflow: hidden;
}
.ke-dialog-icon-close-shadow {
	right: 15px;
	top: 15px;
}
.ke-dialog-icon-close-no-shadow {
	right: 10px;
	top: 10px;
}
.ke-dialog-body {
	border: 0;
	margin: 0;
	padding: 0;
	font: 12px/1.5 "sans serif",tahoma,verdana,helvetica;
	text-align: left;
	overflow: hidden;
}
.ke-dialog-body textarea {
	display: block;
	overflow: auto;
	resize: none;
}
.ke-dialog-body textarea:focus {
	outline: none;
}
.ke-dialog-footer {
	border:0;
	margin:0;
	padding:0;
	font: 12px/1 "sans serif",tahoma,verdana,helvetica;
	text-align: right;
	padding:0 0 5px 0;
}
.ke-dialog-preview {
	margin: 5px;
}
.ke-dialog-yes {
	margin: 5px;
}
.ke-dialog-no {
	margin: 5px 10px 5px 5px;
}
.ke-dialog-mask {
	border:0;
	margin:0;
	padding:0;
	background-color:#FFF;
	filter:alpha(opacity=50);
	opacity:0.5;
}
/* edit */
.ke-edit {
	display: block;
}
.ke-edit-iframe {
	margin: 0;
	padding: 0;
	border: 1px solid #CCCCCC;
	background-color: #FFFFFF;
}
.ke-edit-textarea {
	font: 12px/1.5 "Consolas", "Monaco", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
	margin: 0;
	padding: 0;
	border: 1px solid #CCCCCC;
	background-color: #FFFFFF;
	color: #000000;
	overflow: auto;
	resize: none;
}
.ke-edit-textarea:focus {
	outline: none;
}