.ke-iframe {
	margin: 0;
	padding: 0;
	border: 1px solid #A0A0A0;
	background-color: #FFFFFF;
}
.ke-textarea {
	font: 12px/1.5 "Consolas", "Monaco", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
	margin: 0;
	padding: 0;
	border: 1px solid #A0A0A0;
	background-color: #FFFFFF;
	color: #000000;
	overflow: auto;
	resize: none;
}
.ke-textarea:focus {
	outline: none;
}